In [1]:
import pandas as pd

In [2]:
df_2024 = pd.read_csv("../data/raw/2023-10-14_2024-10-11_DataExport.csv", delimiter=";")
df_2023 = pd.read_csv("../data/raw/2022-10-14_2023-10-14_DataExport.csv", delimiter=";")
df_2022 = pd.read_csv("../data/raw/2021-10-14_2022-10-14_DataExport.csv", delimiter=";")

In [4]:
print(df_2024.shape)
print(df_2023.shape)
print(df_2022.shape)

(4056, 42)
(2735, 42)
(24, 42)

In [5]:
df = pd.concat([df_2024, df_2023, df_2022], axis=0, ignore_index=True)
print(df.shape)
df.head()

(6815, 42)

,Anlage,Tankname,Messstellen-TAG,Produkt,Produkt-ID,Chargennummer,Produktbeschreibung,Produktkategorie,Füllstand,Prozentwert,...,Messstelle Infofeld 1,Messstelle Infofeld 2,Messstelle Infofeld 3,Messstelle Infofeld 4,Messstelle Infofeld 5,Messstelle Infofeld 6,Sicherheitsbestand wird erreicht am,Meldebestand wird erreicht am,Dispositions Status,Zeitstempel
0,VEGA Entwicklung,Heizöltank Bohnackerstr.,Testmessung Bohnacker,Heizöl,NaN,NaN,NaN,NaN,"4,568 l",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5/15/2026,6/26/2025,manuell,10/18/2023 19:02
1,VEGA Entwicklung,Heizöltank Bohnackerstr.,Testmessung Bohnacker,Heizöl,NaN,NaN,NaN,NaN,"4,568 l",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5/15/2026,6/26/2025,manuell,10/18/2023 19:05
2,VEGA Entwicklung,Heizöltank Bohnackerstr.,Testmessung Bohnacker,Heizöl,NaN,NaN,NaN,NaN,"7,762 l",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5/15/2026,6/26/2025,manuell,10/18/2023 23:54
3,VEGA Entwicklung,Heizöltank Bohnackerstr.,Testmessung Bohnacker,Heizöl,NaN,NaN,NaN,NaN,"7,757 l",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5/15/2026,6/26/2025,manuell,10/19/2023 11:51
4,VEGA Entwicklung,Heizöltank Bohnackerstr.,Testmessung Bohnacker,Heizöl,NaN,NaN,NaN,NaN,"7,750 l",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5/15/2026,6/26/2025,manuell,10/19/2023 23:56

In [6]:
df = df.drop_duplicates()
df.shape

(6799, 42)

In [7]:
df.to_csv("../data/processed/data.csv", sep=";")